body {
  margin: 0;
  margin-top: -22px;
}



.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
}


.header {
  width: 100%;
  height: 130px;
  background-color: red;
}

.header>h1 {
  position: absolute;
  left: 10%;
  top: -10%;
  height: 165px;
  width: 300px;
  background: url(./img/pokedex.png) no-repeat;
}

.header2 {
  width: 100%;
  height: 10px;
  background-color: black;
}

.header3 {
  position: absolute;
  width: 171px;
  height: 206px;
  padding-left: 27px;
  border-radius: 50%;
  left: 85%;
  top: 120px;
  margin-top: -91px;
  margin-left: -100px;
  background: url(./img/poke.png) no-repeat;

}

/*Home*/

.home {
  padding-top: 10%;
}

.App>div:nth-child(1)>div {
  display: flex;
  justify-content: center;
}

img {
  width: 200px;
  height: 284.833px;
}

.home>p {
  display: flex;
  justify-content: center;
  color: gray;
  padding-bottom: -15px;
  margin: 0;
}

.home > div:nth-child(3) > form:nth-child(1) > p:nth-child(2) {
  color: red;
}

/*Pokedex*/

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 5%;
}

article{
  border-radius: 10px;
}


.bug {
  background: #aedf78;
  padding: 10px;
  width: 309px;
  color: white;
}

.water {
  background: #43ccff;
  padding: 10px;
  width: 309px;
  color: white;
}

.grass {
  background: #00ca91;
  padding: 10px;
  width: 309px;
  color: white;
}

.fire {
  background: #e95c4d;
  padding: 10px;
  width: 309px;
  color: white;
}

.normal {
  background: #a5a5a5;
  padding: 10px;
  width: 309px;
  color: white;
}

.poison {
  background: #611380;
  padding: 10px;
  width: 309px;
  color: white;
}

.electric {
  background: #f9be00;
  padding: 10px;
  width: 309px;
  color: white;
}

.ground {
  background: #bfac21;
  padding: 10px;
  width: 309px;
  color: white;
}

.fairy {
  background: #f87ea7;
  padding: 10px;
  width: 309px;
  color: white;
}

.fighting {
  background: #e81319;
  padding: 10px;
  width: 309px;
  color: white;
}

.psychic {
  background: #8a0532;
  padding: 10px;
  width: 309px;
  color: white;
}

.ghost {
  background: #8e55a4;
  padding: 10px;
  width: 309px;
  color: white;
}

.rock {
  background: #776a3e;
  padding: 10px;
  width: 309px;
  color: white;
}

.ice {
  background: #66d1e5;
  padding: 10px;
  width: 309px;
  color: white;
}

.flying {
  background: #5eb9b2;
  padding: 10px;
  width: 309px;
  color: white;
}

.dark {
  background: #2d221c;
  padding: 10px;
  width: 309px;
  color: white;
}

.dragon {
  background: #29036a;
  padding: 10px;
  width: 309px;
  color: white;
}

.steel {
  background: #7b8e8a;
  padding: 10px;
  width: 309px;
  color: white;
}

.unknown {
  background: #454545;
  padding: 10px;
  width: 309px;
  color: white;
}

.shadow {
  background: #4f4f4f;
  padding: 10px;
  width: 309px;
  color: white;
}
.name {
  display: flex;
  flex-direction: column;
}

.tipo {
  color: #fff;
  background-color: rgba(255, 255, 230, 0.3);
  margin-bottom: 4px;
  border-radius: 20px;
  text-align: center;
  padding: 2px 10px;
  text-transform: capitalize;
  font-size: 14px;
  place-self: flex-start;
  width: 90.5px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.card2 {
  background-color: white;
  width: 326px;
  border-radius: 16px;
  overflow: hidden;
  margin-top: -215px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.card-header {
  width: 100%;
  display: block;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(153, 153, 153, 0.383);
}

.card-body-img {
  border: 5px solid white;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-left: 28px;
  margin-top: calc(-48px - 100px);
  background-color: white;
}

img{
  height: 218px;
}

.card-body-title {
  display:flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  font-size: 1.8rem;
}

.card-body-title span {
  color: var(--dark-gray);
  font-weight: 400;
}

.card-body-text {
  display: flex;
  justify-content: center;
  color: var(--dark-gray);
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 2rem;
  padding: -10px;
}

.card2 > div:nth-child(5) {
  display: flex;
  justify-content: center;
  height: 55px;
  padding-left: 10px;
  padding-right: 10px;
  width: 130px;
  margin-left: 88px;
}

.card-footer {
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-footer-social {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-footer-social p {
  letter-spacing: 1px;
}

div.card-footer:nth-child(6) > div:nth-child(1) {
  padding-left: 18px;
}

div.card-footer:nth-child(6) > div:nth-child(2) {
  padding-left: 7px;
}

div.card-footer:nth-child(6) > div:nth-child(2) > h3:nth-child(1) {
  padding-left: 8px;
}

div.card-footer-info:nth-child(3) > h3:nth-child(1) {
  padding-left: 14px;
}

div.card-footer-info:nth-child(4) > h3:nth-child(1) {
  padding-left: 11px;
}

div.card-footer:nth-child(7) > div:nth-child(1) > h3:nth-child(1) {
  padding-left: 36px;
}

div.card-footer:nth-child(7) > div:nth-child(2) > h3:nth-child(1) {
  padding-left: 43px;
  }

.mov{
  position: absolute;
  top: 100%;  
  left: 14%;
  right: 10%;
  padding-right: 23%;
  background-color: rgba(128, 128, 128, 0.5);
  box-shadow: 0 0 15px black;
}

.mov > h2:nth-child(1) {
  display: flex;
  justify-content: center;
  padding-left: 42%;
}

.movimientos{
  column-count: 5;
  column-gap: 30%;
  font-size: 20px;
}




.movimientos > li {
  width: 150px;
}

/*Dark mode*/
/* .switch{
  background-color: #343D5B;
  border-radius: 1000px;
  height: 5%;
  width: 4%;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  margin-top: 20px;
}

.switch::after{
  content: " ";
  display: block;
  width: 45px;
  height: 40px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active{
 background: orange;
 color: black;
}

.moon, .sun{
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: white;
} */



/*Paginacion*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 5px 10px;
  border-radius: 3px;
  height: 30px;
  width: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.container>input {
  height: 30px;
  width: 50px;
  text-align: center;
  border: 1px solid #242424;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.656);
  color: white;
}

button[disabled] {
  background-color: #474747;
  cursor: no-drop;
}

.footer{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.footer>p{
  font-family: italic;
}
.bxl-netlify{
  font-size: 40px;
}

.bxl-github{
  font-size: 40px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 1s all;
  opacity: 0;
}
.loading.show {
  opacity: 1;
}
.loading .spin {
  border: 3px solid hsla(185, 100%, 62%, 0.2);
  border-top-color: #3cefff;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite;
}
@keyframes spin {
to {
  transform: rotate(360deg);
}
}   


@media screen and (min-width:350px) and (max-width:900px) {


  .header {
    width: 100%;
    height: 130px;
    background-color: red;
  }

  .header>h1 {
    position: absolute;
    left: 5%;
    top: -15%;
    height: 165px;
    width: 300px;
    background: url(./img/pokedex.png) no-repeat;
  }

  .header2 {
    width: 100%;
    height: 10px;
    background-color: black;
  }

  .header3 {
    position: absolute;
    width: 87px;
    height: 104px;
    padding-left: 12px;
    border-radius: 50%;
    left: 70%;
    top: 120px;
    margin-top: -40px;
    margin-left: -10px;
    background: url(./img/poke2.png) no-repeat;

  }

  .welcome2 {
    width: 100%;
  }

  .welcome3 {
    display: flex;
    width: 100%;
    margin-top: -25px;
  }

  .card2{
    margin-top: -68px;
  }
  
.pagination-container {
  display: flex;
  gap: 10px;
  align-items: center;
  width: max-content;
  margin: 0 auto;
  margin-left: 30%;
}
.pagination-number-container{
  display: flex;
  gap: 10px;
  list-style: none;
  padding-left: 0;
}
.pagination-prev-next{
  font-size: 30px;
  color: white;
  cursor: pointer;
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 0, 135);
  border-radius: 8px;
}
.page-number {
  font-size: 30px;
  cursor: pointer;
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.page-active{
  background-color: rgb(70, 0, 135);
  color: white;
}

.mov {
  margin-top: 250px;
  width: 220.833px;
  margin-left: -30px;
  padding-right: 100px;
  }

.movimientos{
  column-count: 2;
  column-gap: 30%;
  font-size: 18px;
  gap: 110px;
  margin-left: -10px;
}

}